doctype html
html(lang='en')
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
            meta(name='description', content='')
            meta(name='author', content='')
            link(rel='icon', href='/public/img/favicon.png', type='image/png')
            title saikiranlavanya
            block css
                link(rel='stylesheet', href='css/bootstrap.min.css')
                link(rel='stylesheet', href='css/bootstrap-grid.min.css')
                link(rel='stylesheet', href='css/bootstrap-reboot.min.css')
                link(rel='stylesheet', href='/public/css/index.css')

            block js
                script(src='js/bootstrap.min.js')
                script(src='js/bootstrap.bundle.min.js')
                script(src='knockout-latest.js')

    body
        block body

            // Navbar
            nav.navbar.navbar-light.bg-light
                a.navbar-brand(href='#') Marriage Todo List
                #navbarNav
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/api/items') API
            .container
                .row.align-items-start
                    block content
